@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: rgb(30, 30, 40);
}

form {
    max-width: 420px;
    margin: 5px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 0.5px solid grey;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    color: rgb(156, 153, 153);
}

.feedback-input:focus {
    border: 1px solid rgb(89, 89, 89);
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 50%;
    background: #1f51cf;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 500;
}

[type="submit"]:hover {
    background: #1e56e3;
}

@media (max-width: 688px) {
    .cross-btn {
        display: none;
    }
}


.text-clr {
    overflow-y: scroll;
}

.button {
    background-color: red;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    font-size: 10px;
    width: 50px;

}